/* Created by: Katie
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-02-HTML-Calculations
*/

h1 {
  color: rebeccapurple;
  background-color: papayawhip;
  padding: 45px;
  border: 5px double rebeccapurple;
}

h3 {
  color: rebeccapurple;
  background-color: papayawhip;
  padding: 5px;
  border: 3px double rebeccapurple;
}

body {
  background-color: rgb(218, 228, 230);
}

p {
  background-color: papayawhip;
  color: rebeccapurple;
  border: 2px dotted rebeccapurple;
}

img {
  border: 5px double rebeccapurple;
}